{% extends 'DTAMetadataBundle:Layout:base.html.twig' %}

{% block title %}DTA Metadatenbank{% endblock %}

{% block core %}

{{dump(testData)}} <br/>

{#{% for value in testData %}
{{value}} #{{value.publications.get(0).id}} <br/>
{% endfor %}#}

{#{% for volume in testData %}
#{{volume.id}} {{volume.getPublication.getTitle}}<br/>
{% endfor %}#}

{#{% for key,value in testData %}
{{key}}=====>{{value|length}} publikation(en)<br/>
{% for value in value %}
#{{value.id}} {{value.getTitle}}<br/>
{% endfor %}
<hr/>
{% endfor %}#}

{#{{dump(testData)}}#}

{#<h3>Bearbeitungsverlauf</h3>
<table class="table" style="width:49%">
<thead>
  <tr>
    <th>Publikation</th>
    <th>Datum</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td>...</td>
    <td>21.11.2013</td>
  </tr>
  <tr>
    <td>...</td>
    <td>11.10.2013</td>
  </tr>
  <tr>
    <td>...</td>
    <td>13.09.2013</td>
  </tr>
</tbody>
</table>
<h3>Offene Tasks (einzel und gruppe)</h3>#}

{% endblock %}
