{# 
    Template for rendering forms for any model type (i.e. database entity).
    Used by 
#}

{% block core %}

    <h3>{{className|trans}}</h3>

    {#{domainKey}#}
    
    <form action="{{ path('genericNew', {'className':className, 'domainKey': domainKey|default("none")}) }}" 
          method="post" {{ form_enctype(form) }}>
        {{ form_rest(form) }}
         <input type="submit"/>
    </form>
    
    {# <hr/>
    
    <pre>{%if persistedObject is defined %}{{dump(persistedObject)}}{%endif%}</pre> #}
   
{% endblock %}