{# 
    Template for rendering forms for any model type (i.e. database entity).
    Used for creating and editing entities.
    By default, a new entity is created.
    For editing entities, the action variable contains a route to the 
#}
    
{% block core %}

    {# Determine where to post the form data (create or update the data) #}
    {% if action|default("new") == "new" %}
        {% set actionTarget = path('genericNew', {'className':className, 'domainKey': domainKey|default("none")}) %}
        {% set headerSuffix = "form.create.suffix"|trans %}
    {% endif %}
    {% if action|default("new") == "edit" %}
        {% set actionTarget = path('viewRecord', {'domainKey': domainKey, 'className':className, 'recordId':recordId}) %}
        {% set headerSuffix = "form.edit.suffix"|trans %}
    {% endif %}

    <h3>{{className|trans}} {{ headerSuffix }} </h3>

    <form action="{{ actionTarget }}" method="post" {{ form_enctype(form) }}>
        {{ form_row(form) }}
         <input type="submit"/>
    </form>
    
    <hr/>
    
    {#{dump(form.children)}#}   
{% endblock %}