{# This defines how to render the specific forms representing the model classes.
    For instance, that a title fragment is rendered on a single row is achieved 
    with the titlefragment_* blocks.
 #}

{% extends 'form_div_layout.html.twig' %}

{# --------------------- Form base customizations --------------------- #}

{% block form_row %}

    {% set inlineControls = inlineControls is defined ? inlineControls : false %}
    {#% set levelsWithoutLabel = levelsWithoutLabel is defined ? levelsWithoutLabel : 0 %#}
    
    {% if not inlined|default(false) %}
    <div class="control-group {{ inlineControls ? 'form-inline' }}">
    {% endif %}
        
        {# Wrap label and controls in separate columns, unless inlineControls labels are requested #}
        {% if not inlineLabel|default(false) and not inlined|default(false) %}
            {# form_label automatically generates a label tag, with the correct id specified, the label class, added, etc. #}
            {{ form_label(form, null , {'label_attr':{'class':'control-label'} }) }}
            <div class="controls">
        {% endif %}

        {% if inlineControls %}
            {%for child in form.children %}
                {{ form_row(child, {'inlined':true}) }}
            {% endfor %}
        {% else %}
            {% if not hideLabel|default(false) and (inlineLabel|default(false) or inlined|default(false))  %}
                {{ form_label(form) }}
            {% endif %}
            {{ form_errors(form) }}
            {{ form_widget(form) }}
        {% endif %}            

        {% if not inlineLabel|default(false) and not inlined|default(false) %}
                </div>
        {% endif %}
    
    {% if not inlined|default(false) %}
    </div>
    {% endif %}
    
{% endblock form_row %}

{# --------------------- Form Type Configurations as made available by the above code --------------------- #}

{% block publication_row %}
    {{ form_row(form, {'inlineLabel':true, 'hideLabel': true}) }}
{% endblock %}
    
{% block title_row %}
    {{ form_row(form, {'inlineLabel':false}) }}
{% endblock %}

{% block work_row %}
    {{ form_row(form, {'inlineLabel':true, 'hideLabel':true }) }}
{% endblock %}


{% block titlefragment_row %}
    <div class="control-group form-inline">
        <div class="controls">
            {{ form_widget(form.titlefragmenttype)}}
            {{ form_widget(form.name) }} 
            <label class="checkbox">
                {{ form_widget(form.NameIsReconstructed) }} 
                {{ form.NameIsReconstructed.vars.label }} 
            </label>
            {{form_rest(form)}}
        </div>
    </div>
{% endblock %}


{% block datespecification_row %}
    {{ form_row(form, {'inlineLabel':false, 'inlineControls':true}) }}
{% endblock %}

{% block sortableCollection_row %}
    {{ form_row(form, {'inlineLabel':true}) }}
{% endblock %}
{# --------------------- Title form types --------------------- #}
    
{#% block title_row %}
<fieldset>
    {{ form_row(form) }}
    {{ form_widget(form) }}
    {{ form_rest(form) }}
</fieldset>
{% endblock %#}

{#% block titlefragment_row %#}
    
 {#   <div class="control-group form-inline">
        <div class="controls">
            {{ form_widget(form.titlefragmenttype)}}
            {{ form_widget(form.name) }} 
            <label class="checkbox">
                {{ form_widget(form.NameIsReconstructed) }} 
                {{ form.NameIsReconstructed.vars.label }} 
            </label>
            {{form_rest(form)}}
        </div>
    </div>#}
{#% endblock %#}
