{# Renders all database entities of a certain type #}

{% extends 'DTAMetadataBundle:'~ domainKey ~':' ~ domainKey ~ '.html.twig' %}

{% block title %} Zeige: {{ className|trans }} {% endblock %}

{% block core %}

<div class="span12 dta-data-listing">

    <h3>{{ className|trans }}</h3>
    <table class="table table-striped table-hover"> {# further bootstrap table classes: table-hover #}
        <thead>
            <th>{{ "listView.addColumn.caption"|trans }}</th>
        {% for col in columns %}    
            {# doesn't work {{ col|trans({},'tableHeaders')}} since the tableHeaders file is never added to the translation catalogue #}
            <th> {{ col|trans }} </th>
        {% endfor %}
        </thead>
        <tbody>
        {% for datum in data %}
            {% set recordId = attribute(datum,"getId") %}
            <tr {% if recordId ==updatedObjectId %}class="success"{% endif %}>
            {# Display edit buttons instead of Ids #}
                <td>
                    <a name="record{{recordId}}" class="btn btn-mini" href="{{ path('viewRecord', {'domainKey':domainKey, 'className':className, 'recordId':attribute(datum,"getId")}) }}">
                        <i class="icon-pencil"></i>
                        {{ className|trans~"listView.edit.row.buttonSuffix"|trans }}
                    </a>
                </td>
            {% for col in columns %}
                <td>
                    {{ datum.getAttributeByTableViewColumName(col) }}
                </td>
            {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
                    <a class="btn btn-mini listView-add-button" href="{{ path('genericNew', {'domainKey':domainKey, 'className':className}) }}">
                        <i class="icon-pencil"></i>
                        {{ className|trans~"listView.add.row.buttonSuffix"|trans }}
                    </a>
    {#{dump(peer.getTableMap().getRelations())}#}
    
</div><!--/span-->

{#
<div class="span4 dta-data-filter-box">

    <h3>Suchoptionen</h3>
    
    <div class="sidebar-nav well">
        <ul class="nav nav-list">
            {% for col in columns %}
                {% if col != '#' and col|capitalize != 'Id'|capitalize %}
                <li><i class="icon-chevron-right" onmouseover="$(this).toggleClass('icon-chevron-right').toggleClass('icon-chevron-down')"></i>{{ col|trans }}</li>
                {% endif %}
            {% endfor %}
        </ul>
    </div><!--/.well -->
</div><!--/span-->
#}
{% endblock core %}
