{# Renders all database entities of a certain type.
    
    Assumes that the objects stored in data are propel objects, or, more specifically
    implement a getId method for highlighting 
 #}

{% extends 'DTAMetadataBundle:'~ domainKey ~':index.html.twig' %}

{% block title %} Zeige: {{ className|trans }} {% endblock %}

{% block core %}

{# dta-data-listing: The sidebar is overflown if the table is too wide, so add scrollbars. #}
<div class="span12 dta-data-listing">

    <h3>{{ className|trans }}
    
    {# add entity button  #}
    <a class="btn btn-mini listView-add-button pull-right" href="{{ path('genericNew', {'domainKey':domainKey, 'className':className}) }}">
        <i class="icon-plus"></i>
        {{ className|trans~"listView.add.row.buttonSuffix"|trans }}
    </a>
        
        </h3>
    
    <table class="table table-striped table-hover"> {# further bootstrap table classes: table-hover #}
        <thead>
            <th>{{ "listView.addColumn.caption"|trans }}</th>
        {% for col in columns %}    
            {# doesn't work {{ col|trans({},'tableHeaders')}} since the tableHeaders file is never added to the translation catalogue #}
            <th> {{ col|trans }} </th>
        {% endfor %}
        </thead>
        <tbody>
           {# <tr> <td colspan="20">
                    <a class="btn btn-mini listView-add-button" href="{{ path('genericNew', {'domainKey':domainKey, 'className':className}) }}">
                        <i class="icon-pencil"></i>
                        {{ className|trans~"listView.add.row.buttonSuffix"|trans }}
                    </a>
            </td></tr> #}
        {% for datum in data %}
            {# because all propel objects implement this method #}
            {% set recordId = attribute(datum, "getId") %}
            
            {# highlight affected record #}
            <tr {% if recordId == updatedObjectId %}class="success"{% endif %}>
            
                {# Display edit buttons instead of Ids #}
                <td>
                    <a name="record{{recordId}}" class="btn btn-mini" href="{{ path('viewRecord', {'domainKey':domainKey, 'className':className, 'recordId':attribute(datum,"getId")}) }}">
                        <i class="icon-pencil"></i>
                        {{ className|trans~"listView.edit.row.buttonSuffix"|trans }}
                    </a>
                </td>
            {% for col in columns %}
                <td>
                    {{ datum.getAttributeByTableViewColumName(col) }}
                </td>
            {% endfor %}
            </tr>
        {% endfor %}
        
            
        {#  second add button  <tr> <td colspan="20">
                    <a class="btn btn-mini listView-add-button" href="{{ path('genericNew', {'domainKey':domainKey, 'className':className}) }}">
                        <i class="icon-pencil"></i>
                        {{ className|trans~"listView.add.row.buttonSuffix"|trans }}
                    </a>
            </td></tr> #}
        </tbody>
    </table>
    
</div><!--/span-->

{#
<div class="span4 dta-data-filter-box">

    <h3>Suchoptionen</h3>
    
    <div class="sidebar-nav well">
        <ul class="nav nav-list">
            {% for col in columns %}
                {% if col != '#' and col|capitalize != 'Id'|capitalize %}
                <li><i class="icon-chevron-right" onmouseover="$(this).toggleClass('icon-chevron-right').toggleClass('icon-chevron-down')"></i>{{ col|trans }}</li>
                {% endif %}
            {% endfor %}
        </ul>
    </div><!--/.well -->
</div><!--/span-->
#}
{% endblock core %}
