{# Renders a table.
    
    Pass the data in the following format.
    columns: array of column labels 
             e.g. 'Username', 'hat Administratorrechte', 'letzter Login'
    rows: an iterable collection of objects or associative arrays
          e.g. array(
                 array('name'=>'Franz', 'admin' => true, 'lastLogin' => \Datetime(...)), 
                 array('name'=>'Herbert', 'admin' => false, 'lastLogin' => \Datetime(...))
               ) or
               array(
                 Userobject1(...), 
                 Userobject2(...)
               )
    accessors: either the key (associative array) or a method or attribute name (object)
               e.g. array(
                 'name', 'admin', 'lastLogin'
               ) or
               array(
                 'getName', 'isAdmin', 'getLastLogin'
               )
 #}

{% extends 'DTAMetadataBundle:Layout:base.html.twig' %}
{% import "DTAMetadataBundle:form:buildingBlocks.html.twig" as dta %}

{% block title %} Zeige: {{ className|trans }} {% endblock %}

{% block core %}

{# dta-data-listing: The sidebar is overflown if the table is too wide, so add scrollbars. #}
<div class="col-md-9 dta-data-listing">

    {% block preTable %}
    
        <h3> {{ title|default('Listenansicht')|trans }} </h3>
    
    {% endblock preTable %}
    
        
        {% block tableHead %}
        <table class="table fullyFeatured table-striped table-hover" {# style="table-layout: fixed" #} > {# further bootstrap table classes: table-hover #}
        <thead>
            {% for col in columns %}    
                <th> {{ col|trans }} </th>    
            {% endfor %}    
        </thead>
        {% endblock tableHead %}
        
        <tbody>
        {% block tableBody %}
            {% for row in rows %}
                <tr data="{{row.controlsLink|default('')}}">
                {% for acc in accessors %}
                    <td>
                        {{ attribute(row,acc)|raw }}
                    </td>
                {% endfor %}
                </tr>
            {% endfor %}
        {% endblock tableBody %}
        </tbody>
    </table>
    
</div>
<div class="well col-md-3" id="publicationOptions" style="margin-top:-24px;">
</div>
{% endblock core %}

{% block additionalJS %}

var optionsPanel;

$(document).ready(function() {
    
    optionsPanel = $('#publicationOptions');
    
    // make table rows clickable
    var rows = $('table.table tr').slice(1);   // skip table head
    rows.on("click", function(){
        var controlsUrl = $(this).attr('data');
        $.get(controlsUrl, function(data){optionsPanel.html(data);});
    });
});

{% endblock additionalJS %}

