{% set lastGroup = null %}
{% for task in tasks %}
    {# tasks are expected to be ordered by their treeLeft attribute (or, equivalently, by their parent workflows) #}
    
    {# Output the group name if all members of the last group have been listed #}
    {% if task.tasktype.parent != lastGroup %}
        <span style="font-weight:bold;"> {{ task.tasktype.parent }}</span> <br/>
        {% set lastGroup = task.tasktype.parent %}
        {% set prevSibling = null %}
    {% endif %}
    
    {# Highlight missing tasks in the workflow #}
    {% if task.tasktype.getPrevSibling != prevSibling %}
        <span style="color:red; font-style:italic">Fehlt: {{ task.tasktype.getPrevSibling }}</span> <br/>
    {% endif %}
        
    {% set tooltip = 'Start: ' ~ task.startDate|date("d.m.Y") ~ ' Ende: ' ~ task.endDate|date("d.m.Y") %}
    <a href="{{path('Workflow_genericCreateOrEdit', {className: 'Task', 'recordId': task.id})}}" title="{{tooltip}}">{{task.tasktype}}</a><br/>
    {% set prevSibling = task.tasktype %}
    
{% endfor %}