
{% extends "DTAMetadataBundle:Form:PublicationBase.html.twig" %}

{% block specialized %}
    {{ dta.beginFieldset({'caption':'Publicationspecific', 'id': 'fieldset'~form.vars.id~'_publication_specific' })}}
    {{ form_row(form.is_volume) }}
    <div id="volume_specific_data" style="overflow: hidden">
        {{ form_rest(form) }}
    </div>
    {{ dta.endFieldset()}}

    <script type="text/javascript">
        $(document).ready(function() {
            $volume_specific_data_checkbox = $("#{{ form.vars.id~'_is_volume' }}");
            $volume_specific_data_checkbox.attr("onClick", "change_ToVolume_Visibility()");
            change_ToVolume_Visibility();
        });
        function change_ToVolume_Visibility() {
            $volume_specific_data = $('#volume_specific_data');
            $volume_specific_data_checkbox = $("#{{ form.vars.id~'_is_volume' }}");
            if(!$volume_specific_data_checkbox.is(':checked')){
                $volume_specific_data.css('visibility','hidden');
                $volume_specific_data.css('height',0);
            }else{
                $volume_specific_data.css('visibility','visible');
                $volume_specific_data.css('height','auto');
            }
        };
    </script>
{% endblock specialized %}

