
{% import "DTAMetadataBundle:form:buildingBlocks.html.twig" as dta %}

<!--div class="alert alert-info">

    <button type="button" class="close" data-dismiss="alert">&times;</button>
    Felder, in denen mehrere Angaben sinnvoll erscheinen (z.&nbsp;B. <i>Verlag<sup>;</sup></i> oder <i>Schlagwörter<sup>;</sup></i>&nbsp;), 
    können mit eben solchen versehen werden, wenn diese durch ein Semikolon getrennt werden.

</div-->

{% block work %}
{{ dta.beginFieldset({'caption':'Werk'})}}

    {{ form_row(form.publication.title) }}
    
    {{ form_row(form.publication.PersonPublications) }}
    
    {% set modalId = 'moreOptionsForPublication' %}
    
    {{ dta.beginLabelledContent({'labelCaption':'', 'controlId':'none'}) }}
        {{ dta.btnLaunchModal({'id':modalId, 'caption':'weitere Angaben...'})}}
    {{ dta.endLabelledContent() }}


    {{ dta.beginModal({
            'id': modalId,
            'title': 'Weitere Angaben zum Werk',
       })            
    }}

        {{ form_row(form.publication.doi) }}
        {{ form_row(form.publication.comments) }}
        {{ form_row(form.publication.format) }}
        {{ form_row(form.publication.directoryname) }}

    {{ dta.endModal({
            'id': modalId,
            'confirm': {'caption': 'Fertig', 'target': '#', 'attr':{'data-dismiss':'modal'} },
            'hideCancelButton': true,
       })
    }}

{{ dta.endFieldset()}}
{% endblock work %}

{% block publication %}
{{ dta.beginFieldset({'caption':'Angaben zur Publikation der Vorlage'})}}

    {{ form_row(form.publication.place) }}
    
    {{ dta.beginLabelledContent({'controlId':'none', 'labelCaption':'Datierung'}) }}
        {{ form_row(form.publication.DatespecificationRelatedByPublicationdateId) }}
        {{ form_row(form.publication.DatespecificationRelatedByFirstpublicationdateId) }}
        {{ form_row(form.publication.datespecification) }}
    {{ dta.endLabelledContent() }}
    
    {{ form_row(form.publication.volume_alphanumeric) }}
    {{ form_row(form.publication.volume_numeric) }}
    {{ form_row(form.publication.volumes_total) }}
    
    {{ form_row(form.publication.publishingcompany) }}
    
    {{ form_row(form.publication.PersonPublications) }}

{{ dta.endFieldset()}}
{% endblock %}

{% block sources %}
{{ dta.beginFieldset({'caption':'Quellen'})}}
    Bild
    <div class="well">
        {{ form_row(form.publication.ImageSources) }}
    </div>
    Text
    <div class="well">
        {{ form_row(form.publication.TextSources) }}
    </div>
{{ dta.endFieldset()}}
{% endblock %}

{% block editorialInformation %}
{{ dta.beginFieldset({'caption':'Editorisches', 'collapsed': false})}}

    {{ form_row(form.publication.editiondescription, {'attr':{'class':'col-7'} }) }}
    {{ form_row(form.publication.digitaleditioneditor, {'attr':{'class':'col-7'} }) }}
    {{ form_row(form.publication.transcriptioncomment, {'attr':{'class':'col-7'} }) }}

{{ dta.endFieldset()}}
{% endblock %}

{% block classification %}
{{ dta.beginFieldset({'caption':'Klassifikation und Einordnung', 'collapsed': false})}}

    <!--div id="taggerTest" style="width:400px"></div>
    <script type="text/javascript">
        $("#taggerTest").select2({tags:["fraktur", "antiqua", "schwabacher"]});
    </script-->
    {{ form_row(form.publication.font, {'label':'vorherrschende Schriftart'}) }}
    {{ form_row(form.publication.LanguagePublications, {'label':'vorherrschende Sprache'}) }}
    {{ form_row(form.publication.GenrePublications, {'label':'Genre'}) }}
    {{ form_row(form.publication.CategoryPublications, {'label':'Kategorien'}) }}
    {{ form_row(form.publication.PublicationTags, {'label':'Schlagworte'}) }}
    
{{ dta.endFieldset()}}
{% endblock %}


{% block comments %}
{{ dta.beginFieldset({'caption':'Anmerkungen', 'collapsed': false})}}
    {{ form_widget(form.publication.comment, {'attr':{'style':'width:100%'} }) }}
{{ dta.endFieldset()}}
{% endblock %}


{{ form_rest(form) }}