{% extends 'DTAMetadataBundle:Layout:base.html.twig' %}

{% block core %}

    {# renders "<className> bearbeiten" as headline of the form #}
    <h3> {{className|trans}} {{ ("form." ~ transaction ~ ".suffix")|trans }} </h3>

    {% set actionTarget = path('genericCreateOrEdit', {'package': package, 'className':className, 'recordId':recordId}) %}
    
    <form action="{{ actionTarget }}" method="post" {{ form_enctype(form) }} class="form-horizontal">
            
        {% include 'DTAMetadataBundle:Form:genericBaseForm.html.twig' %}
        
    {# the dynamic collection adds default fragments if the form is for creation
        of a new entity. (action='new') #}
        <script type="text/javascript">
            var formInfo = {'action': 'edit'};
        </script>
        <div class="form-group">
            <div class="col-lg-offset-{{formLabelWidth}} col-lg-{{formWidgetWidth}}">
                <input type="submit" value="Senden" class="btn btn-default"/>
            </div>
        </div>
    </form>

{% endblock core %}