{# Renders all database entities of a certain type.
    
    Assumes that the objects stored in data are propel objects, or, more specifically
    implement a getId method for highlighting 
 #}

{% extends 'DTAMetadataBundle::listView.html.twig' %}

{% block title %} Zeige: {{ className|trans }} {% endblock %}


    {% block preTable %}
        <h3>{{ title|default(className|trans) }}
            {# add entity button  #}
            <a class="btn btn-mini listView-add-button pull-right" href="{{ path(package~'_genericCreateOrEdit', {'package':package, 'className':className}) }}">
                <i class="icon-plus"></i>
                {{ className|trans }} hinzufügen
            </a>
        </h3>
    {% endblock preTable %}
    


    
    {% block tableHead %}

    <table class="table fullyFeatured table-striped table-hover" {# style="table-layout: fixed" #} > {# further bootstrap table classes: table-hover #}
    <thead>
        {% for col in columns %}    
            <th> {{ col|trans }} </th>
        {% endfor %}
        {# <th style="width:180px">Datensatz bearbeiten</th>#}
    </thead>
    {% endblock tableHead %}
    {% block tableBody %}
    {% spaceless %}
        {# Which column text is turned into a hyperlink to view or edit the entity #}
        {% set linkColumn = linkColumn|default(1) %}
        {% for datum in data %}
    
            {% set recordId = attribute(datum, "getId") %}
            {% set editLoc = path(package~'_genericCreateOrEdit', {'package':package, 'className':className, 'recordId':recordId}) %}
            {% set deleteLoc = path(package~'_deleteRecord', {'package':package, 'className':className, 'recordId':recordId }) %}
    
            {# highlight affected record #}
            <tr{% if recordId == updatedObjectId|default(0) %} class="success"{% endif %}>

            {% for col in columns %}
                {% set cellContent = datum.getAttributeByTableViewColumName(col)%}
                {# turn the column content into a link if it is in the linkColumn (see above) #}
                {% set linkMarkup  = loop.index == linkColumn ? 
                    "<a name='" ~ package ~ "/" ~ className ~ "/" ~ recordId ~ "' href='" ~ editLoc ~ "'>" : "" %}
                {% set linkMarkupEnd = loop.index == linkColumn ? 
                    "</a>" : "" %}
                <td {{ loop.index == linkColumn ? 'onclick="loadDetailPopover(this)"' : ''}}>{{linkMarkup|raw()}}{{cellContent}}{{linkMarkupEnd|raw()}}</td>
            {% endfor %}
                {#<td>
                    <a href="{{ deleteLoc }}" 
                       title="Den Datensatz {{recordId}} wirklich löschen?"
                       class="confirmClick glyphicon glyphicon-trash">löschen
                    </a>
                </td>#}
            </tr>
        {% endfor %}
    {% endspaceless %}
    {% endblock tableBody %}
