
<h3>{{className|trans}} {{ headerSuffix }} </h3>

<!-- the form-actions class achieves a visually similar effect to a fieldset, but it cannot be nested.
    unfortunately, fieldsets are ignored within the twitter css. The following gives a good emulation.
<style type="text/css">
.fieldset {
    border: 1px solid #ccc;
    padding: 10px;
}
.fieldset legend{
    width: auto;
    margin: 0;
    line-height: inherit;
    border-bottom: 0;
}
</style>
<div class='container'>
  <fieldset class="fieldset">
    <legend>Main Section</legend>
    <div class="row-fluid">
      <div class="span6">
        some stuff here
      </div>
      <div class="span6">
        <fieldset class="fieldset">
          <legend>A form inside</legend>
            form here
        </fieldset>
       </div>
  </fieldset>
</div>

    

<div class="form-actions">
{# describe what and in which order you want it here
{{ form_row(form.publication.work.title) }}    
{{ form_row(form.publication.DatespecificationRelatedByFirstpublicationdateId) }}    
{{ form_row(form.publication.work.datespecification) }}    
#}
</div> -->
    {# default rendering as rendered by autoform #}
    {% for childName, child in form.children if childName != 'parent' %}
        {{ form_row(child) }}
    {% endfor %}