{% extends 'DTAMetadataBundle:'~ domainKey ~':base.html.twig' %}

{% block core %}
    <h3>Neuen Titel anlegen</h3>
     <form action="{{ path('newTitle') }}" method="post" {{ form_enctype(form) }}>
     {% set propertyName = 'titleFragments' %}
     <ol class="collection-editor collection-sortable" data-prototype="{{ form_widget(attribute(form,propertyName).vars.prototype)|e }}">
        {% for collectionElement in attribute(form,propertyName) %}
            <li>
            {{ form_widget(collectionElement) }}
            </li>
        {% endfor %}
        {{ form_rest(form) }}
      </ol>
        <input type="submit"/>
    </form>
    <pre>{%if persistedObject is defined %}{{dump(persistedObject)}}{%endif%}</pre>
{% endblock %}