{# 
    This defines adds some extra options to the default form rendering template form_div_layout.
    These extra options are specific to the twitter bootstrap styles for rendering forms, 
    specifically the form-horizontal styling (one column for labels and one nearby column for the inputs).
    
    Options to pass to form_row
    ---------------------------
    
    The form_row is the generic twig block called for rendering any form input.
    Usually, it renders a label, the widget (usually the actual html element such as a <textarea> tag)
    and markup to display any form errors reported from the server.
    
    1. inlineLabel = true|false
    Whether to put label and controls in a single column. By default, an extra "column" is used for the label.

    2. inlineChildren = true|false
    Whether to recursively put all children form inputs into a single line. This will result in a flat
    label input label input ... structure instead of a nested two-column layout.

    Example with inlineChildren = false (default)

    Monograph |     Title | ...
                    Year  |      Number | ...
                                 recons | ...
    Example with inlineChildren = true                    

    Monograph | Title ... Number ... reconstructed ...

    3. hideLabel = true | false
    Whether or not to render the label at all. Works only for inline labels.

    4. inlined = true | false
    This is purely internal, as it is used as a flag that is passed on recursively to the children to
    achieve a flattened structure for inline controls.
 #}

{#  The form_div_layout.html.twig defines how to render basic form input elements such 
    as text areas, password fields, select boxes, etc. #}
{% extends 'form_div_layout.html.twig' %}

{# uncomment this to add the form-control class to all inputs #}
{#% block widget_attributes %}
{% spaceless %}

    {% set attr = attr|merge({'class':'form-control'})%}

    id="{{ id }}" name="{{ full_name }}"{% if read_only %} readonly="readonly"{% endif %}{% if disabled %} disabled="disabled"{% endif %}{% if required %} required="required"{% endif %}{% if max_length %} maxlength="{{ max_length }}"{% endif %}{% if pattern %} pattern="{{ pattern }}"{% endif %}
    {% for attrname, attrvalue in attr %}{% if attrname in ['placeholder', 'title'] %}{{ attrname }}="{{ attrvalue|trans({}, translation_domain) }}" {% else %}{{ attrname }}="{{ attrvalue }}" {% endif %}{% endfor %}
{% endspaceless %}
{% endblock widget_attributes %#}

{% block form_row %}
    
    {# see documentation above. setting default values #}
    {% set inlineLabel = inlineLabel|default(false) %}
    {% set inlineChildren = inlineChildren|default(false) %}
    {% set hideLabelClass = hideLabel|default(false) ? 'sr-only' : '' %}
    {% set inlined = inlined|default(false) %}

        {% if not inlineLabel and not inlined %}
        <div class="form-group">
            {# form_label automatically generates a label tag, with the correct id specified, the label class, added, etc. #}
            {{ form_label(form, null , {'label_attr':{'class': hideLabelClass ~ 'control-label col-lg-'~formLabelWidth} }) }}
            <div class="col-lg-{{formWidgetWidth}} {#{ inlineChildren ? 'form-inline' : 'labelled' }#}">
        {% endif %}
        

        {% if inlineChildren %}
            {%for child in form.children %}
                {{ form_label(child, null , {'label_attr':{'class':'control-label'} }) }}
                {{ form_errors(child) }}
                {{ form_widget(child, {'inlined':true}) }} {# , 'attr':{'class':'form-control','style':'width:50px; display: inline'}  #}
            {% endfor %}
        {% else %}
            {% if inlineLabel or inlined %}
                {{ form_label(form, null, {'label_attr':{'class': hideLabelClass} }) }} 
            {% endif %}
            {{ form_errors(form) }}
            {{ form_widget(form) }}
        {% endif %}            

        {% if not inlineLabel and not inlined %}
            </div>
            {{ form_rest(form) }}
        </div>
        {% endif %}
            
{% endblock form_row %}



{% block form_label %}
{% spaceless %}
    {% if (label is not sameas(false)) and (label != "@suppress") %}

        {% if not compound %}
            {% set label_attr = label_attr|merge({'for': id}) %}
        {% endif %}
        {% if required %}
            {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
        {% endif %}
        {% if label is empty %}
            {% set label = name|humanize %}
        {% endif %}
        <label for="{{id}}" {% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
            {{ label|trans({}, translation_domain) }}
            {% if required %} * {% endif %}
        </label>
    {% endif %}
{% endspaceless %}
{% endblock form_label %}

{% block checkbox_row %}
    {% if expanded|default(false) %}
        {{ form_row(form) }}
    {% else %}
        <label class="checkbox">
            {{ form_widget(form) }}
            {{ label }}
        </label>
    {% endif %}
{% endblock checkbox_row %}

{% block choice_widget_collapsed %}
{% spaceless %}
    {% if required and empty_value is none and not empty_value_in_choices %}
        {% set required = false %}
    {% endif %}
    {% if not form.vars.selectOrAddConfiguration is defined%}
        {% set attr = attr|merge({'class':attr.class|default('')~' form-control input-sm'}) %}
        {% set attr = attr|merge({'style':attr.style|default('')~' width: auto;float:left;'}) %}
    {% endif %}
    <select {{ block('widget_attributes') }}{% if multiple %} multiple="multiple"{% endif %}>
        {% if empty_value is not none %}
            <option value=""{% if required and value is empty %} selected="selected"{% endif %}>{{ empty_value|trans({}, translation_domain) }}</option>
        {% endif %}
        {% if preferred_choices|length > 0 %}
            {% set options = preferred_choices %}
            {{ block('choice_widget_options') }}
            {% if choices|length > 0 and separator is not none %}
                <option disabled="disabled">{{ separator }}</option>
            {% endif %}
        {% endif %}
        {% set options = choices %}
        {{ block('choice_widget_options') }}
    </select>
{% endspaceless %}
{% endblock choice_widget_collapsed %}
