{# 
    This defines how to render the form elements for specific model classes.
    For instance, to render a title fragment on a single row, customize the 
    titlefragment_row block as below.

    The form_div_layout_dta.html.twig defines how to render basic form input elements such 
    as text areas, password fields, select boxes, etc. and adds some extra options.
 #}

{% extends 'DTAMetadataBundle:Form:form_div_layout_dta.html.twig' %}

{# --------------------- Work and Publication --------------------- #}

{% block publication_row %}
    {{ form_row(form, {'inlineLabel':false, 'hideLabel': true}) }}
{% endblock %}
{% block work_row %}    
    {{ form_row(form, {'inlineLabel':false, 'hideLabel':false }) }}
{% endblock %}

{% block _partner_isOrganization_row %}
    {{ form_row(form, {'expanded':true}) }}
{% endblock %}

{% block printrun_row %}
    {{ form_row(form, {'inlineChildren':true }) }}
{% endblock %}

{# --------------------- Space and Time --------------------- #}
        
{% block datespecification_row %}
    {% import  'DTAMetadataBundle:form:buildingBlocks.html.twig' as dta %}
    
    {{ dta.beginLabelledControl({'controlId':id, 'labelCaption': form.vars.label }) }}
 
            {{ form_errors(form.year) }}
            {{ form_label(form.year) }}
            {{ form_widget(form.year) }}


            {# add addtional options to a modal #}
            {% set modalId = 'extraOptionsModalFor'~id %}
            {{ dta.btnLaunchModal({'id':modalId, 'caption':'mehr...'})}}

            {{ dta.beginModal({
                    'id': modalId,
                    'title': 'Weitere Optionen zur Datumsangabe',
                    'hideWindowCloser': true 
               })            
            }}
            
            {{ form_row(form.comments) }}
            
            {{ dta.beginLabelledControl({'controlId':form.yearIsReconstructed.vars.id, 'labelCaption': form.yearIsReconstructed.vars.label }) }}
                {{ form_widget(form.yearIsReconstructed) }}
            {{ dta.endLabelledControl() }}

            {{ dta.endModal({
                    'id': modalId,
                    'confirm': {'caption': 'Fertig', 'target': '#', 'attr':{'data-dismiss':'modal'} },
                    'hideCancelButton': true,
               })
            }}
    
    {{ dta.endLabelledControl() }}

{% endblock %}

{# --------------------- Title --------------------- #}

{% block title_row %}
    {{ form_row(form, {'inlineLabel':false,'hideLabel':false}) }}
{% endblock %}

{% block titlefragment_row %}
    <div class="form-group form-inline">
            {{ form_widget(form.titlefragmenttype)}}
            {{ form_widget(form.name,{'attr':{'class':'medium-text'} }) }} 
            <br/>
            {{ form_row(form.NameIsReconstructed ) }}
            {{ form_rest(form) }}
    </div>
{% endblock %}

{# --------------------- Personal Name --------------------- #}

{% block person_row %}
    {{ form_row(form.personalNames, {'inlineLabel':false }) }}
    {{ form_row(form.gnd) }}
    {{ form_rest(form) }}
{% endblock %}

{% block personalname_row %}
    {{ form_row(form, {'inlineLabel':true, 'hideLabel':true }) }}
{% endblock %}

{% block namefragment_row %}
    <div class="form-group form-inline">
            {{ form_widget(form.namefragmenttype)}}
            {{ form_widget(form.name) }} 
            {{ form_rest(form) }}
    </div>
{% endblock %}

{# --------------------- Person / Work / Publication Relations --------------------- #}

{% block personwork_row %}
    <div class="form-group form-inline">
        {{ form_row(form.personrole, {'inlineLabel':true,'hideLabel':true}) }}
        {{ form_row(form.person, {'hideLabel':true,'inlineLabel':true}) }}
    </div>
{% endblock %}
{% block personpublication_row %}
        {{ form_row(form.personrole, {'inlineLabel':true,'hideLabel':true}) }}
        {{ form_row(form.person, {'hideLabel':true,'inlineLabel':true}) }}
{% endblock %}
{% block categorywork_row %}
     {{ form_row(form, {'inlineLabel':true, 'hideLabel':true, 'inlineChildren': true}) }}
{% endblock %}

{% block category_row %}
    <div class="form-group form-inline">
        {{ form_row(form, {'inlineLabel':true, 'hideLabel':true, 'inlineChildren': true}) }}
    </div>
{% endblock %}