{# 
    This defines how to render the form elements for specific model classes.
    For instance, to render a title fragment on a single row, customize the 
    titlefragment_row block as below.

    The form_div_layout_dta.html.twig defines how to render basic form input elements such 
    as text areas, password fields, select boxes, etc. and adds some extra options.
 #}

{% extends 'DTAMetadataBundle:Form:form_div_layout_dta.html.twig' %}

{# --------------------- Work and Publication --------------------- #}

{% block publication_row %}
    {{ form_row(form, {'inlineLabel':false, 'hideLabel': true}) }}
    {{ form_rest(form) }}
{% endblock %}
{% block work_row %}    
    {{ form_row(form, {'inlineLabel':false, 'hideLabel':false }) }}
    {{ form_rest(form) }}
{% endblock %}

{% block _partner_isOrganization_row %}
    {{ form_row(form, {'expanded':true}) }}
    {{ form_rest(form) }}
{% endblock %}

{% block imagesource_row %}
    {% import  'DTAMetadataBundle:form:buildingBlocks.html.twig' as dta %}
    <div>
    {{ form_row(form.partner) }}
            
    {{ dta.beginLabelledContent({'labelCaption':'Katalogeintrag', 'controlId':'none'}) }}
        {{ form_widget(form.cataloguesignature, {'label':false, 'attr':{'placeholder':'Signatur'} }) }}
        {{ form_widget(form.catalogueurl, {'label':false, 'attr':{'placeholder':'URL'} }) }}
    {{ dta.endLabelledContent() }}
    
    {{ dta.beginLabelledContent({'labelCaption':'Umfang', 'controlId':'none'}) }}
        {{ form_row(form.numfaksimiles, {'inlineLabel':true}) }}
        {{ form_row(form.extentasofcatalogue, {'inlineLabel':true}) }}
    {{ dta.endLabelledContent() }}
            
    {{ dta.beginLabelledContent({'labelCaption':'Quellenangabe für', 'controlId':'none'}) }}
        <div class="form-inline">
            {{ form_row(form.faksimilerefrange, {'inlineLabel':true, 'attr':{'placeholder':'5-11'} }) }}
            {{ form_row(form.originalrefrange, {'inlineLabel':true,'attr':{'placeholder':'2-8'} }) }}
        </div>
    {{ dta.endLabelledContent() }}
            
    {% set modalId = 'extraOptionsModalFor'~id %}
    
    {{ dta.beginLabelledContent({'labelCaption':'', 'controlId':'none'}) }}
        {{ dta.btnLaunchModal({'id':modalId, 'caption':'weitere Angaben...'})}}
    {{ dta.endLabelledContent() }}


    {{ dta.beginModal({
            'id': modalId,
            'title': 'Weitere Angaben zur Bildquelle',
            'hideWindowCloser': true 
       })            
    }}

        {{ form_row(form.imageurl) }}
        {{ form_row(form.imageurn) }}
        {{ form_row(form.license) }}

    {{ dta.endModal({
            'id': modalId,
            'confirm': {'caption': 'Fertig', 'target': '#', 'attr':{'data-dismiss':'modal'} },
            'hideCancelButton': true,
       })
    }}
    {{ form_rest(form) }}

    </div>
{% endblock %}

{% block textsource_row %}
    <div>
        {{ form_row(form.partner) }}
        {{ form_row(form.texturl) }}
        {{ form_row(form.attribution) }}
        {{ form_row(form.license) }}
        {{ form_rest(form) }}
    </div>
{% endblock %}


{# --------------------- Space and Time --------------------- #}
        
{% block datespecification_row %}
    {% import  'DTAMetadataBundle:form:buildingBlocks.html.twig' as dta %}
    
    {{ dta.beginLabelledContent({'controlId':id, 'labelCaption': form.vars.label }) }}
 
            {{ form_errors(form.year) }}
            {{ form_label(form.year) }}
            {{ form_widget(form.year) }}


            {# add addtional options to a modal #}
            {% set modalId = 'extraOptionsModalFor'~id %}
            {{ dta.btnLaunchModal({'id':modalId, 'caption':'mehr...'})}}

            {{ dta.beginModal({
                    'id': modalId,
                    'title': 'Weitere Optionen zur Datumsangabe',
                    'hideWindowCloser': true 
               })            
            }}
            
            {{ form_row(form.comments) }}
            
            {{ dta.beginLabelledContent({'controlId':form.yearIsReconstructed.vars.id, 'labelCaption': form.yearIsReconstructed.vars.label }) }}
                {{ form_widget(form.yearIsReconstructed) }}
            {{ dta.endLabelledContent() }}

            {{ dta.endModal({
                    'id': modalId,
                    'confirm': {'caption': 'Fertig', 'target': '#', 'attr':{'data-dismiss':'modal'} },
                    'hideCancelButton': true,
               })
            }}
    {{ form_rest(form) }}
    {{ dta.endLabelledContent() }}

{% endblock %}

{# --------------------- Title --------------------- #}

{% block title_row %}
    {{ form_row(form, {'inlineLabel':false,'hideLabel':false}) }}
    {{ form_rest(form) }}
{% endblock %}

{% block titlefragment_row %}
    <div class="form-inline">
            {{ form_widget(form.titlefragmenttype)}}
            {{ form_widget(form.name,{'attr':{'class':'medium-text'} }) }} 
            <br/>
            {{ form_row(form.NameIsReconstructed ) }}
            {{ form_rest(form) }}
    </div>
{% endblock %}

{% block task_row %}
    {{ form_row(form, {'inlineLabel':true, 'hideLabel':true}) }}
{% endblock %}

{# --------------------- Personal Name --------------------- #}

{% block person_row %}
    {{ form_row(form.personalNames, {'inlineLabel':false }) }}
    {{ form_row(form.gnd) }}
    {{ form_rest(form) }}
{% endblock %}

{% block personalname_row %}
    {{ form_row(form, {'inlineLabel':true, 'hideLabel':true }) }}
    {{ form_rest(form) }}
{% endblock %}

{% block namefragment_row %}
    <div class="form-inline">
            {{ form_widget(form.namefragmenttype)}}
            {{ form_widget(form.name) }} 
            {{ form_rest(form) }}
    </div>
{% endblock %}

{# --------------------- Person / Work / Publication Relations --------------------- #}

{% block personwork_row %}
    <div class="dynamic-collection-deletable">
        {{ form_row(form.personrole, {'inlineLabel':true,'hideLabel':true}) }}
        {{ form_row(form.person, {'hideLabel':true,'inlineLabel':true}) }}
        {{ form_rest(form) }}
    </div>
{% endblock %}

{% block personpublication_row %}
  <div class="dynamic-collection-deletable">
    {{ form_row(form.personrole, {'inlineLabel':true,'hideLabel':true}) }}
    {{ form_row(form.person, {'hideLabel':true,'inlineLabel':true}) }}
    {{ form_rest(form) }}
  </div>
{% endblock %}

{% block categorywork_row %}
    <div class="dynamic-collection-deletable">
        {{ form_row(form, {'inlineLabel':true, 'hideLabel':true, 'inlineChildren': true}) }}
        {{ form_rest(form) }}
    </div>
{% endblock %}

{% block category_row %}
    <div class="dynamic-collection-deletable">
        {{ form_row(form, {'inlineLabel':true, 'hideLabel':true, 'inlineChildren': true}) }}
        {{ form_rest(form) }}
    </div>
{% endblock %}

{% block languagework_row %}
    <div class="form-inline">
        {{ form_widget(form.language)}}
        {{ form_rest(form) }}
    </div>
{% endblock %}

{% block genrework_row %}
    <div class="form-inline">
        {{ form_widget(form.genre)}}
        {{ form_rest(form) }}
    </div>
{% endblock %}

{% block worktag_row %}
    <div class="form-inline">
        {{ form_widget(form.tag)}}
        {{ form_rest(form) }}
    </div>
{% endblock %}