{% extends 'DTAMetadataBundle:Layout:base.html.twig' %}

{% block title %}Dump Conversion results{% endblock %}

{% block mainMenu %}{% endblock %}
{% block currentDomainMenu %}{% endblock %}

{% block core %}

<h1> Errors </h1>

{% for error in errors|default({}) %}
    {% for key, value in error %}{{key}} => {{value}}<br/>{% endfor %}
{% endfor %}


<h1> Warnings </h1>

{% for warning in warnings|default({}) %}
    {% for key, value in warning %}{{key}} => {{value}}<br/>{% endfor %}
{% endfor %}


<h1> Messages </h1>

{% for message in messages|default({}) %}
    {% for key, value in message %}{{key}} => {{value}}<br/>{% endfor %}
{% endfor %}


{% endblock %}
