<!DOCTYPE html>
<html lang="de">
    
    <head>
        {% include("DTAMetadataBundle::head.html.twig") %}
    </head>
    
    <body style="min-width: 900px">

        {%block mainMenu%}
        {% include 'DTAMetadataBundle:Layout:mainMenu.html.twig' %}
        {%endblock %}
        
        <div class="container-fluid" style="padding: 0 30px;">
            
        {#  ---------------------------------------------
            The content goes into the core block 
            --------------------------------------------- #}
                
            {# fluid: Allow stacking of sidebar and main content if too few space is available #}
            <div class="row" id="core" style="padding-left: 10px">
                {% for flashType, cssClass in {'error':'alert-danger','warning':'alert-warning','success':'alert-success'} %}
                    {% for flashMessage in app.session.flashbag.get(flashType) %} 
                    <div class="alert alert-dismissable {{cssClass}}">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        {{ flashMessage }} 
                    </div>
                {% endfor %}
                {% endfor %}
                {% block core %}
                {% endblock %}
            </div><!--/row-->
            
            
            <footer>
            {% block footer %}
                <!--
                <hr/>
                <p>© DTA(v 2.0)</p>
                -->
            {% endblock %}
            </footer>

        </div><!--/.fluid-container-->

        <!-- Placed at the end of the document so the pages load faster -->
        {#<script src="{{ asset('js/jquery.min.js') }}"></script>#}
        {#<script src="{{ asset('js/jquery-ui.min.js') }}"></script>#}
        
        <script type="text/javascript">
            
            $(document).ready(function() {
            
                // automatically focus the first form input
                $('form:first input:first').focus();
                
                // confirm functionality
                $('a.confirmClick').on('click', confirmCriticalAction);

                

                // ------------------------------------------------------
                // DataTables plugin setup
                // ------------------------------------------------------
                
                // buttons with bootstrap style
                $.extend( true, $.fn.DataTable.TableTools.classes, {
                        "container": "btn-group",
                        "buttons": {
                                "normal": "btn btn-default",
                                "disabled": "btn disabled"
                        },
                        "collection": {
                                "container": "DTTT_dropdown dropdown-menu",
                                "buttons": {
                                        "normal": "",
                                        "disabled": "disabled"
                                }
                        }
                } );

                // Have the collection use a bootstrap compatible dropdown
                $.extend( true, $.fn.DataTable.TableTools.DEFAULTS.oTags, {
                        "collection": {
                                "container": "ul",
                                "button": "div",
                                "liner": "a"
                        }
                } );
                
                
                var paginationControlsHeight = 45;
                var tableHeaderHeight = $('thead').first().outerHeight();
                var tableTop = $('.table.fullyFeatured').offset().top;
                var tableHeight = $(window).innerHeight() - tableTop - tableHeaderHeight - paginationControlsHeight;
                
                $('.table.fullyFeatured').dataTable( {
                    
                    //"bSort":false // disables sorting completely
                    bSortClasses: false
                    ,aaSorting:[]
                    ,"aLengthMenu": [
                        [10, 50, 100, -1],
                        [10, 50, 100, "All"] ]
                    //,"iDisplayLength" : 50
                    ,"sDom": 'rt<"bottom"iflp>'
                    ,"sScrollY": tableHeight+"px"
                    ,"bPaginate": false
                    ,"sPaginationType": "full_numbers"
                    ,"oLanguage": { "sUrl": "{{asset('js/DataTables-1.9.4/dataTablesGermanTranslation.json')}}" }
                    ,"oTableTools": {
                            "aButtons": [
                                    "copy"
                                    ,"print"
                                    /*,{
                                            "sExtends":    "collection"
                                            ,"sButtonText": 'Save <span class="caret" />'
                                            ,"aButtons":    [ "csv", "xls", "pdf" ]
                                    }*/
                            ]
                    }
                } );

    
            });

            /**
             * Requests a confirmation on clicking a link which e.g. deletes something.
             * Uses the link's title attribute to determine the warning message.
             * @param event the jquery event to stop the click action if necessary
             */
            function confirmCriticalAction(event){
                if(confirm($(this).attr('title'))){
                    return true;
                } else {
                    event.preventDefault();
                };
            }
            {% block additionalJS %}
            {% endblock %}

        </script>
    </body>
</html>