<nav class="navbar navbar-default" style="margin-bottom: 0;">
    <div class="container-fluid">
        
        <!-- --------------- main menu --------------- -->
        
        <div class="row-fluid">
            <a class="navbar-brand" href="{{ path('home') }}">
                DTA Projektdatenbank
            </a>
            <ul class="nav navbar-nav">
            {% block domainMenu %}
                <li {% if package == "Home" %} class='active' {% endif %} >
                    <a href="{{ path('home') }}">
                        Startseite
                    </a></li>
                <li {% if package == "Data" %} class='active' {% endif %} >
                    <a href="{{ path('dataDomain') }}">
                        Daten
                    </a></li>
                <!--<li {% if package == "Workflow" %} class='active' {% endif %} >
                    <a href="{{ path('workflowDomain') }}">
                        Arbeitsfluss
                    </a></li>
                <li {% if package == "Classification" %} class='active' {% endif %} >
                    <a href="{{ path('classificationDomain') }}">
                        Ordnungssysteme
                    </a></li>-->
                <li {% if package == "Master" %} class='active' {% endif %} >
                    <a href="{{ path('administrationDomain') }}">
                        Administration
                    </a>
                </li>
            {% endblock %}
            </ul>
                
                <!-- logout -->
                <a href="{{ path('logout') }}" class="pull-right">
                    <button type="button" class="btn btn-default navbar-btn">{{ app.user.username }} abmelden</button>
                </a>
            {# <form class="navbar-search pull-left">
                <input type="text" class="search-query" placeholder="Suche">
            </form> #}
                

        </div><!--/.row-fluid -->

        <!-- --------------- domain menu --------------- -->
        <div class="row-fluid" style='border-top: 1px solid #DDD;'>
        {% block currentDomainMenu %}
            
            {% if domainMenu.specializedTemplate is defined %}
                {% include domainMenu.specializedTemplate %}
            {% else %}
                {% include 'DTAMetadataBundle:Layout:domainMenu.html.twig' %}
            {% endif %}
            
        {% endblock %}<!-- domain menu -->
        </div><!--/.row-fluid -->
        
    </div><!--/.container-fluid -->
</nav>
